<h1>{{ getHeadTitle() }}</h1>

<button [routerLink]="['/room-details', getId()]">Nazaj</button>

<form [formGroup]="getForm()" (submit)="SubmitAdd()">
  <input type="hidden" formControlName="id" [value]="getId()">
  <br>
  <label for="title">Naslov Termina:</label>
  <input id="title" type="text" formControlName="title">
  <br>
  <label for="start">Začetek Termina:</label>
  <input id="start" type="datetime-local" step="300" formControlName="start">
  <br>
  <label for="end">Konec Termina:</label>
  <input id="end" type="datetime-local" step="300" formControlName="end">
  <br>
  <button type="submit">Dodaj</button>
</form>